/* VARIABLES */
:root {
    --theme-color-light: rgb(250, 245, 238);
    --theme-color-medium: rgb(237, 216, 179);
    --theme-color-dark: rgb(195, 156, 130);
    --highlight-color: rgb(103, 128, 103);
    --header-font-size: 36px;
}

/* RESETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100%;
    background-color: var(--theme-color-light);
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #000;
}

/* GLOBAL CLASSES */
.text-center {
    text-align: center;
}

/* CUSTOM CLASSES */
/* NAV CLASSES */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 5px 0;
}

.logo {
    margin: 0 1%;
}

nav {
    justify-content: space-between;
}

nav a {
    color: var(--highlight-color);
    padding: 26px 30px;
    background-color: transparent;
    transition: background-color .5s ease-in-out;
}

nav a:hover {
    background-color: rgba(146, 146, 146, 0.4);
}

/* HERO CLASSES */
.hero {
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(https://picsum.photos/id/564/1200/800);
    background-size: cover;
    background-position: center;
    display: flex;
    padding: 200px 0;
    justify-content: center;
    align-items: center;
    color: white;
}

.hero-text {
    display: flex;
    flex-direction: column;
    font-size: var(--header-font-size);
}

.hero hr {
    margin: 20px 25%;
    border-radius: 60%;
}

.hero-text h3 {
    font-size: 26px;
}

/* ABOUT ME CLASSES */
.about {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px 150px;
}

.about h2 {
    font-size: var(--header-font-size);
    margin-bottom: 20px;
}

.about-text {
    display: flex;
    flex-direction: column;
    line-height: 1.6;
    padding: 50px;
}

.about-text article:not(:last-child) {
    margin-bottom: 20px;
}

.about-text article {
    font-size: 24px;
}

.about img {
    height: 600px;
    width: 600px;
    border: 1px solid var(--theme-color-dark);
    border-radius: 10px;
}

/* PROJECT CARD CLASSES */
.work h3 {
    font-size: var(--header-font-size);
}

.project-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 10%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.4;
    width: 33.3333%;
    border-radius: 20px;
    padding: 15px;
    margin: 0 7px;
    height: 550px;
    width: 350px;
    margin-top: 20px;
    box-shadow: 5px 5px 20px rgb(104, 104, 104);
    background: linear-gradient(180deg, var(--theme-color-dark) 0%, var(--theme-color-medium) 35%, var(--theme-color-light) 100%);    
    transition: 0.2s ease-in-out;
}

.card:hover {
    transform: translate(4px, -10px);
}

.card img {
    border-radius: 20px;
    margin: 15px 0;
}

.card h4 {
    font-size: 24px;
    margin: 15px 0 10px;
}

.card figcaption {
    flex: 1;
    font-size: 16px;
    margin: 10px 0;
}

.card hr {
    margin: 0 25%;
    border-radius: 60%;
}

.project-btn {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 10px 0 15px;
}

.project-btn button {
    border-radius: 6px;
    padding: 1em;
    margin: 0 20px;
    background-color: #efefef;
    border: 1px solid #000;
    transition: background-color .4s ease-in-out;
    transition: color .2s ease-in-out;
}

.project-btn button:hover {
    background-color: rgb(146, 115, 95);
    border: none;
    color: #ffffff;
}

/* CONTACT CLASSES */
.contact {
    padding: 50px 0;
}

.contact h2 {
    font-size: var(--header-font-size);
}

.contact-info {
    display: flex;
    justify-content: center;
}

.contact-info p {
    margin-top: 10px;
}

.contact-info p:not(:last-child) {
    margin-right: 10px;
}

.contact-info a {
    text-decoration: underline;
    color: var(--highlight-color);
}

#contact-form {
    display: flex;
    flex-direction: column;
    margin: 20px auto 0;
    width: 350px;
}

#contact-form > *:not(:last-child) {
    padding: 6px 10px;
    margin-bottom: 5px;
}

#contact-form h2 {
    text-align: center;
}

#contact-form h3 {
    text-align: left;
    font-size: 16px;
    margin-left: -10px;
}

#contact-form button {
    align-self: flex-end;
    width: 70px;
    border-radius: 6px;
    background-color: #efefef;
    border: 1px solid #000;
    transition: background-color .4s ease-in-out;
    transition: color .2s ease-in-out;
}

#contact-form button:hover {
    background-color: rgb(146, 115, 95);
    color: #ffffff;
}

/* FOOTER CLASSES */
.footer {
    width: 100%;
    line-height: 1.4;
}

/* MEDIA QUERIES */
@media (max-width: 600px) {
    nav a {
        padding: 0 10px;
    }
}

@media (max-width: 400px) {
    nav a {
        padding: 0 5px;
    }
}

@media (max-width: 1000px) {
    .hero {
        flex-direction: column;
    }
    .hero-text {
        margin: -30px 0 40px;
    }
}

@media (max-width: 1500px) {
    .about {
        flex-direction: column;
        margin-bottom: 50px;
    }
}

@media (max-width: 1000px) {
    .about {
        padding: 0 25px;
    }
}

@media (max-width: 700px) {
    .about img {
        height: 400px;
        width: 400px;
    }
}